.cb-intro {
  $cb: &;

  &--type-one {
    #{$cb}__container {
      display: inline-block;
      width: 100%;
      background-size: cover;
      background-position: center;
      height: auto;
      padding: 0 24px;
      position: relative;

      @include media-breakpoint-up(md) {
        padding: 0 48px;
      }
    }

    #{$cb}__text-block {
      width: 100%;
      max-width: 920px;
      text-align: center;

      div:first-child,
      a:first-child {
        margin-top: 0 !important;

        & > :first-child {
          margin-top: 0 !important;
        }
      }

      div:last-child,
      a:last-child {
        margin-bottom: 0 !important;

        & > :last-child {
          margin-bottom: 0 !important;
        }
      }
    }

    #{$cb}__heading {
      color: $color-green-500;

      h2 {
        max-width: 338px;

        @include media-breakpoint-up(md) {
          max-width: 568px;
        }
      }
    }

    #{$cb}__text {
      color: $color-green-500;

      p {
        @include intro-small-text;

        max-width: rem-calc(440px);
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(md) {
          max-width: rem-calc(560px);
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &#{$cb}--text-colour-one {
      #{$cb}__heading {
        color: $color-grey-300 !important;
      }

      #{$cb}__text {
        color: $color-grey-300 !important;
      }
    }

    &#{$cb}--text-colour-two {
      #{$cb}__heading {
        color: $color-grey-100 !important;
      }

      #{$cb}__text {
        color: $color-grey-100 !important;
      }
    }
  }
}
