.c-button {
  $c: &;

  font-family: $font-ws-reg;
  font-size: rem-calc(16px);
  line-height: rem-calc(16px);
  letter-spacing: rem-calc(1.6px);
  margin: rem-calc(16px) auto;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  &:visited,
  a:active,
  &:focus {
    color: $color-green-400;
  }

  &--type-primary {
    border-radius: 7px;
    padding: rem-calc(16px) rem-calc(24px);

    @include media-breakpoint-up(md) {
      padding: 7px 12px 6px;
    }

    &#{$c}--colour-one {
      border: 5px solid $color-green-400;
      border-image: url("../images/button-border-green-400.png") 5 stretch;
      text-decoration: none;
      background-color: $color-green-400;
      color: $color-green-100;

      &:hover {
        background-color: transparent;
        color: $color-green-400;
        text-decoration: none;
      }

      &#{$c}--main {
        &:hover {
          background-color: $color-green-100;
          color: $color-green-400;
          text-decoration: none;
        }
      }
    }

    &#{$c}--colour-two {
      border: 5px solid $color-green-100;
      border-image: url("../images/button-border-green-100.png") 5 stretch;
      text-decoration: none;
      background-color: $color-green-100;
      color: $color-green-400;

      &:hover {
        background-color: transparent;
        color: $color-green-100;
        text-decoration: none;
      }
    }
  }

  &--type-secondary {
    border-radius: 7px;
    padding: 16px 24px 15px;

    @include media-breakpoint-up(md) {
      padding: 7px 12px 6px;
    }

    &#{$c}--colour-one {
      border: 5px solid $color-green-400;
      border-image: url("../images/button-border-green-400.png") 5 stretch;
      color: $color-green-400;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background-color: $color-green-400;
        color: $color-green-100;
      }
    }

    &#{$c}--colour-two {
      border: 5px solid $color-green-100;
      border-image: url("../images/button-border-green-100.png") 5 stretch;
      color: $color-green-100;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background-color: $color-green-100;
        color: $color-green-400;
      }
    }
  }

  &--type-tertiary {
    padding: rem-calc(4px) 0 rem-calc(12px);
    position: relative;
    text-decoration: none;
    color: $color-green-400;

    &::after {
      content: "";
      position: absolute;
      bottom: 6px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-green-400;
      transform: scaleX(1);
      transform-origin: right;
      transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

      @include media-breakpoint-up(xl) {
        transform: scaleX(0);
      }
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    @include media-breakpoint-up(md) {
      padding: rem-calc(4px) 0 rem-calc(12px);
    }

    &#{$c}--colour-one {
      color: $color-green-400;
    }

    &#{$c}--colour-two {
      color: $color-green-100;

      &::after {
        background: $color-green-100;
      }
    }
  }

  &--type-quaternary {
    padding: 0 0 rem-calc(8px);
    position: relative;
    text-decoration: none;
    color: $color-green-400;
    text-transform: none;
    display: block;
    letter-spacing: normal;

    &::after {
      content: "";
      background-image: url("../images/button-link-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-left: 6px;
      margin-bottom: 0;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      &::after {
        transform: translateX(8px);
      }
    }

    &#{$c}--colour-one {
      color: $color-green-400;
    }

    &#{$c}--colour-two {
      color: $color-green-100;

      &::after {
        background: $color-green-100;
      }
    }
  }
}
