.c-flourish {
  $c: &;

  display: block;
  margin: rem-calc(24px) auto;
  text-align: center;
  text-decoration: none;
  width: 84px;
  height: 39px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include media-breakpoint-up(md) {
    width: 104px;
    height: 48px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}
