* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background: $color-grey-100;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@function rem-calc($size) {
  $rem-size: $size / 16px;

  @return #{$rem-size}rem;
}

.padding-top-none {
  padding-top: $spacer * 0 !important;

  @include media-breakpoint-up(md) {
    padding-top: 0 !important;
  }
}

.padding-top-xs {
  padding-top: $spacer * 2 !important;
}

.padding-top-sm {
  padding-top: $spacer * 3 !important;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 5 !important;
  }
}

.padding-top-md {
  padding-top: $spacer * 6 !important;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 10 !important;
  }
}

.padding-top-lg {
  padding-top: $spacer * 9 !important;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 15 !important;
  }
}

.padding-top-xl {
  padding-top: $spacer * 12 !important;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 20 !important;
  }
}

.padding-bottom-none {
  padding-bottom: $spacer * 0 !important;

  @include media-breakpoint-up(md) {
    padding-bottom: 0 !important;
  }
}

.padding-bottom-xs {
  padding-bottom: $spacer * 2 !important;
}

.padding-bottom-sm {
  padding-bottom: $spacer * 3 !important;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 5 !important;
  }
}

.padding-bottom-md {
  padding-bottom: $spacer * 6 !important;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 10 !important;
  }
}

.padding-bottom-lg {
  padding-bottom: $spacer * 9 !important;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 15 !important;
  }
}

.padding-bottom-xl {
  padding-bottom: $spacer * 12 !important;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 20 !important;
  }
}

img {
  &.image-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
  }

  &.image-contain {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 0;
  }

  &.img-placeholder {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    display: block;
  }
}

video {
  &.video-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
  }
}

section {
  overflow: hidden;
}

.geo-targeting--usa {
  display: none !important;
}

.geo-targeting--usa--show {
  .geo-targeting--usa {
    display: block !important;
  }

  .geo-targeting--usa-outside {
    display: none !important;
  }
}

html:lang(fr) {
  .lang-item-fr {
    a {
      text-decoration: underline;
    }
  }
}

html:lang(en) {
  .lang-item-en {
    a {
      text-decoration: underline;
    }
  }
}

.main {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
